<div class="login-box" ng-controller="loginCtrl">
    <div class="login-logo">
        <b>Tamebec </b>PhotoContest
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{msgtxt}}</p>
        <form name="form1">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" required ng-model="user.name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" required ng-model="user.pass">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8" style="color: dimgrey;">
                    <div class="checkbox icheck">
                        <label>
                            <!--<input type="checkbox"> Remember Me-->
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" ng-click="login(user)" class="btn btn-primary btn-block btn-flat" ng-disabled="form1.$invalid">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->