<h2 class="page-header">Contestants</h2>

<div class="row" ng-init="getImages()">
    <div class="col-md-4" ng-repeat="img in images">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <div>
                    <h3 class="widget-user-username">{{img.email}}</h3>
                    <h5 class="widget-user-desc">Tel: {{img.phone}}</h5>
                </div><!-- /.widget-user-image -->

            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Date Registered <span class="pull-right badge bg-yellow">03-07-2016</span></a></li>
                    <li><a href="#">Votes <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a download="{{img.photo}}" href="../../app/server/uploads/images/{{img.photo}}">Download Photo<span class="pull-right badge bg-red" data-toggle="tooltip" title="Click to download"><i class="fa fa-download"></i></span></a></li>
                </ul>
            </div>
        </div><!-- /.widget-user -->
    </div><!-- /.col -->
</div><!-- /.row -->