<div id="fb-root"></div>
<section ng-init="widgets()">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{totlContWeek}}</h3>
                    <p>Contestants this week</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{activeCont}}</h3>
                    <p>Active contests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-trophy"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{activePost}}</h3>
                    <p>Active posts</p>
                </div>
                <div class="icon">
                    <i class="ion ion-world"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{totalAllCont}}</h3>
                    <p>Total contests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-trophy"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->

    <div class="row">
        <!-- Left col -->
        <section class="col-lg-4 connectedSortable">
            <!-- Chat box -->
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-facebook-square text-primary"></i>
                    <h3 class="box-title">Comments</h3>
                    <div class="box-tools pull-right" data-toggle="tooltip" title="facebook comments">
                        <i class="fa fa-comments-o"></i>
                    </div>
                </div>
                <div class="box-body chat" id="chat-box">
                    <!-- chat item -->
                    <div class="fb-page" data-href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                         data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" height="300" data-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf">
                                Tamebec photo Contests</a></blockquote>
                    </div>
                    <!-- chat item -->
                </div><!-- /.chat -->
                <div class="box-footer"></div>
            </div><!-- /.box (chat box) -->
        </section><!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <!--<section class="col-lg-8 connectedSortable" ng-init="contsList()">-->

            <!--&lt;!&ndash; Map box &ndash;&gt;-->
            <!--<div class="box box-solid bg-light-blue-gradient">-->
                <!--&lt;!&ndash; TO DO List &ndash;&gt;-->
                <!--<div class="box box-primary">-->
                    <!--<div class="box-header">-->
                        <!--<i class="fa fa-users"></i>-->
                        <!--<h3 class="box-title">Contestants this week</h3>-->
                    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                    <!--<div class="box-body">-->
                        <!--<ul class="todo-list">-->
                            <!--<li ng-repeat="cont in contThisWeek">-->
                                <!--&lt;!&ndash; drag handle &ndash;&gt;-->
                              <!--<span class="handle">-->
                                <!--<i class="fa fa-ellipsis-v"></i>-->
                                <!--<i class="fa fa-ellipsis-v"></i>-->
                              <!--</span>-->

                                <!--<p class="text">{{cont.email}}</p>-->
                                <!--&lt;!&ndash; Emphasis label &ndash;&gt;-->
                                <!--<small class="label label-danger"><i class="fa fa-calendar-o"></i></small>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                    <!--<div class="box-footer clearfix no-border">-->
                        <!--<a href="#posted_contest" class="btn btn-default pull-right">View all <i class="fa fa-arrow-right"></i></a>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; /.box &ndash;&gt;-->

        <!--</section>&lt;!&ndash; right col &ndash;&gt;-->
    </div><!-- /.row (main row) -->

</section>