<div class="row">
    <div class="col-lg-4">
        <h2 class="page-header">
            <div class="well well-info well-sm">
                <i class="fa fa-list"></i>
                All Contest
            </div>
        </h2>
    </div>
</div>
<!-- start:dynamic data table -->
<div class="row margin-bottom">
    <div class="col-md-12">
        <a href="#new_contest" class="btn btn-primary pull-right"><i class="fa fa-plus-circle"></i> New contest</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading text-danger">
                Active and Inactive contest
            </header>
                <div class="panel-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id <i class="fa fa-sort pull-right"></i></th>
                            <th>Title <i class="fa fa-sort pull-right"></i></th>
                            <th>Price <i class="fa fa-sort pull-right"></i></th>
                            <th>Start Date <i class="fa fa-sort pull-right"></i></th>
                            <th>Deadline <i class="fa fa-sort pull-right"></i></th>
                            <th>Description <i class="fa fa-sort pull-right"></i></th>
                            <th>State <i class="fa fa-sort pull-right"></i></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contest in contests">
                            <td>{{contest.idcontest}}</td>
                            <td>{{contest.title}}</td>
                            <td>{{contest.price}}</td>
                            <td>{{contest.date_added}}</td>
                            <td>{{contest.date_ending}}</td>
                            <td>{{contest.details}}</td>
                            <td>
                                <div ng-if="contest.state == 1">
                                    <label class="switch">
                                        <input checked type="checkbox" ng-click="stateChange(contest.idcontest,contest.state)">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div ng-if="contest.state != 1">
                                    <label class="switch">
                                        <input type="checkbox" ng-click="stateChange(contest.idcontest,contest.state)">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button ng-click="getContest(contest.idcontest,contest.title,contest.price,contest.date_added,contest.date_ending,contest.details)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-pencil"></i></button>
                                <button ng-click="deleteContest(contest.idcontest,contest.photo)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Start Date</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
        </section>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit contest with ID: {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputTitle" class="col-lg-2 col-sm-2 control-label">Title</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="inputTitle" ng-model="title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-lg-2 col-sm-2 control-label">Price</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="price" placeholder="$200" ng-model="price" required>
                                <p class="help-block">Example: $200 or 2000 CFA F</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date1" class="col-lg-2 col-sm-2 control-label">Star date</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="date" data-role="date" class="form-control" id="date1" placeholder="Today's date" ng-model="current_date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date2" class="col-lg-2 col-sm-2 control-label">Deadline</label>
                            <div class="col-lg-10 margin-bottom">
                                <input type="date"  class="form-control" id="date2" placeholder="Deadline" ng-model="deadline" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="details" class="col-lg-2 col-sm-2 control-label">Details</label>
                            <div class="col-lg-10 margin-bottom">
                                <textarea type="date" class="form-control" id="details" ng-model="details" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="submit" class="btn btn-primary" value="{{btn_name}}" ng-click="updateContest()"/>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:dynamic data table -->

<!-- DataTables -->
<script src="../../vendors/jquery.dataTables.min.js"></script>
<script src="../../vendors/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#example2').DataTable();
    });
</script>