<div class="row">
    <div class="col-lg-4">
        <h2 class="page-header">
            <div class="well well-info well-sm">
                <i class="fa fa-list"></i>
                All Posts
            </div>
        </h2>
    </div>
</div>
<!-- start:dynamic data table -->
<div class="row margin-bottom">
    <div class="col-md-12">
        <a href="#publish_post" class="btn btn-primary pull-right"><i class="fa fa-plus-circle"></i> New Post</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading text-danger">
                All post from facebook
            </header>
                <div class="panel-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id <i class="fa fa-sort pull-right"></i></th>
                            <th>Email <i class="fa fa-sort pull-right"></i></th>
                            <th>State <i class="fa fa-sort pull-right"></i></th>
                            <th class="pull-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="post in posts">
                            <td>{{post.idpost}}</td>
                            <td>{{post.email}}</td>
                            <td>
                                <div ng-if="post.state == 1">
                                    <label class="switch">
                                        <input checked type="checkbox" ng-click="stateChange(post.idpost,post.state)">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div ng-if="post.state != 1">
                                    <label class="switch">
                                        <input type="checkbox" ng-click="stateChange(post.idpost,post.state)">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </td>
                            <td class="pull-right">
                                <button ng-click="getPost(post.idpost,post.email,post.url)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-pencil"></i></button>
                                <button ng-click="deletePost(post.idpost)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id <i class="fa fa-sort pull-right"></i></th>
                            <th>Email <i class="fa fa-sort pull-right"></i></th>
                            <th>State <i class="fa fa-sort pull-right"></i></th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
        </section>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit post with ID: {{id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="idpost" class="col-lg-2 col-sm-2 control-label">Post id</label>
                            <div class="row col-lg-10 margin-bottom">
                                <input type="text" class="form-control" id="idpost" disabled ng-model="id" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-lg-2 col-sm-2 control-label">Contestant email</label>
                            <div class="row col-lg-10 margin-bottom">
                                <input type="email" class="form-control" id="email" ng-model="email">
                                <p class="help-block">fuhchehenry@example.com</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-lg-2 col-sm-2 control-label">Post link</label>
                            <div class="row col-lg-10">
                                <textarea type="text" data-role="date" class="form-control" id="url" ng-model="url" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-gray">
                    <input type="submit" class="btn btn-primary" value="{{btn_name}}" ng-click="updatePost()"/>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:dynamic data table -->

<!-- DataTables -->
<script src="../../vendors/jquery.dataTables.min.js"></script>
<script src="../../vendors/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#example2').DataTable();
    });
</script>