
        <div class="row">
            <div class="col-lg-4">
                <h2 class="page-header">
                    <div class="well well-info well-sm">
                        <i class="fa fa-plus-circle"></i>
                        New Contest
                    </div>
                </h2>
            </div>
        </div>

        <!-- start:form-wizard -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading text-danger">
                        All fields are required
                    </header>
                    <form class="form-horizontal" name="form1" ng-init="getPhoto()" role="form" ng-submit="upload()">
                    <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputTitle" class="col-lg-2 col-sm-2 control-label">Title</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputTitle" ng-model="title" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="col-lg-2 col-sm-2 control-label">Price in cash</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="price" placeholder="$200" ng-model="price" required>
                                        <p class="help-block">Example: $200 or 2000 CFA F</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date1" class="col-lg-2 col-sm-2 control-label">Today's date</label>
                                    <div class="col-lg-10">
                                        <input type="date" data-role="date" class="form-control" id="date1" placeholder="Today's date" ng-model="current_date" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date2" class="col-lg-2 col-sm-2 control-label">Deadline</label>
                                    <div class="col-lg-10">
                                        <input type="date"  class="form-control" id="date2" placeholder="Deadline" ng-model="deadline" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="details" class="col-lg-2 col-sm-2 control-label">Details</label>
                                    <div class="col-lg-10">
                                        <textarea type="date" class="form-control" id="details" ng-model="details" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="panel-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">Cover photo</label>
                                            <div class="col-md-9">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                    <div>
                                                    <span class="btn btn-file" style="background-color: #2B93D6; color: white;">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select photo</span>
                                                    <span class="fileupload-exists"> Change</span>
                                                    <input type="file" class="default" value="" id="myfile" file-input="files"/>
                                                    </span>
                                                        <a href="" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"> Remove</a>
                                                    </div>
                                                </div>
                                                <span class="label label-danger">NOTE!</span>
                                                <span>
                                                Attached photo thumbnail is
                                                supported in Latest Firefox, Chrome, Opera,
                                                Safari and Internet Explorer 10 only
                                                </span>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="form1.$invalid">{{btn_name}}</button>
                    </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- end:form-wizard -->