
        <div class="row">
            <div class="col-lg-4">
                <h2 class="page-header">
                    <div class="well well-info well-sm">
                        <i class="fa fa-plus-circle"></i>
                        New Post
                    </div>
                </h2>
            </div>
        </div>

        <!-- start:form-wizard -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading text-danger">
                        The field is required
                    </header>
                    <form class="form-horizontal" role="form" ng-submit="post()">
                    <div class="panel-body">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 col-sm-2 control-label">Contestant email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail" ng-model="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUrl" class="col-lg-2 col-sm-2 control-label">Post link</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputUrl" ng-model="url">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">{{btn_name}}</button>
                    </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- end:form-wizard -->