<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


         <div id="carousel-example-generic" class="carousel slide">
           <!-- Wrapper for slides -->
               <div class="carousel-inner">
                     <!-- Item -->
                     <div class="item active animated fadeInRight">
                       <img src="images/back2.jpg" alt="" class="img-responsive" />
                       <div class="carousel-caption">
                 <p class="animated fadeInLeftBig">Child of the Universe, Child of Africa</p>
                 <p class="animated fadeInRightBig">Find your way back Home! Tell your Story with your Pictures</p>                      
             </div>
                     </div>             
               </div>
           <!-- Controls -->
           
         </div> 
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="header" style="background-color: #16cbe6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: white;">Featuring Contest</h1>
            </div>

        </div>
    </div>
</div>





      <div class="shop-items blocky" >
         <div class="row">
          <div class="col-md-12">
              <div class="panel-body">
<div class="row">
          <div class="col-md-9">
            <div class="col-md-3" ng-repeat="contest in contests">
              <div class="item">
                <div class="item-image">
                  <a href="#readmore"><img src="login/admin/app/server/uploads/images/{{contest.photo}}" alt=""  class="img-thumbnail"/></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5>{{contest.title}}</h5>
                  <div>
                      <a href="#readmore"
                         ng-click="readMore(contest.idcontest,contest.title,contest.date_ending,contest.price,contest.details,contest.photo)" class="item-price">
                          Read more...
                      </a>
                      <!--<a ng-click="join(contest.idcontest)" href="#join_contest" class="btn" style="background-color: #F89F21; color: white;">Join contest</a></div>-->
                  <!--<div class="clearfix"></div>-->
                </div>
              </div>
            </div>
 </div>
    <div class="col-md-3">
        <!-- Start Sidebar -->
            <div class="widget sidebar-widget">
                <div class="sidebar-widget-title">
                    <h3>Stay Tuned</h3>
                </div>
                <section class="listing-cont">
                    <ul>
                        <li class="item sermon featured-sermon"> <span class="date">Feb 14, 2015</span>
                            <h4><a href="past_contest_winner.html" style="color: #F89F21;">Visit our facebook page!</a></h4>
                            <div class="featured-sermon-video">
                                <div class="fb-page" data-href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                                     data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                     data-show-facepile="true">
                                    <blockquote cite="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                                                class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf">
                                            Tamebec photo Contests</a></blockquote>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

    </div>
   </div>
          </div>
                
                                                                                 

         
        </div>
      
       </div>
         </div>
                </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>