
  <!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" style="background-image:url(images/slide1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../index.html">Home</a></li>
            <li class="active">Join Contest</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header -->
  <!-- Start Page Header -->
  <div class="header" style="background-color: #16cbe6;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: white;">Join Contest</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div id="message" class="text-center text-success">
          <h2>{{msg}}</h2>
        </div>
        <form class="form-horizontal" id="formDetails" name="form1" role="form" ng-init="getPhoto()" ng-submit="upload()">
        <div class="row">

          <section class="panel">
            <header class="panel-heading">
              {{header}}
            </header>
            <div class="panel-body">
                <div class="form-group">
                  <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">Phone</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="(000)000-000-000" class="form-control" ng-model="phone" required>
                    <p class="help-block text-danger">You phone number will be used to contact you in case you win.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Password</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="pass" required>
                    <p class="help-block text-danger">You will use this password alongside your email to login.</p>
                  </div>
                </div>
            </div>
          </section>
        </div>

        <div class="row">
          <div class="col-md-12">
            <section class="panel">
              <header class="panel-heading">
                Upload a photo
              </header>
              <div class="panel-body">
                  <div class="form-group last">
                    <label class="control-label col-md-3">Photo Uploaded</label>
                    <div class="col-md-9">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                          <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                                                    <span class="btn btn-file" style="background-color: #2B93D6; color: white;">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select photo</span>
                                                    <span class="fileupload-exists"> Change</span>
                                                    <input type="file" class="default" value="" id="myfile" file-input="files"/>
                                                    </span>
                          <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" ng-disabled="form1.$invalid"> Remove</a>
                        </div>
                      </div>
                      <span class="label label-danger">NOTE!</span>
                                                <span>
                                                Attached photo thumbnail is
                                                supported in Latest Firefox, Chrome, Opera,
                                                Safari and Internet Explorer 10 only
                                                </span>


                    </div>
                  </div>
              </div>
            </section>
          </div>
        </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" style="margin-left: 16%;" class="btn btn-warning" ng-disabled="form1.$invalid">Submit Entry</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>