
  <!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" style="background-image:url(images/slide1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../index.html">Home</a></li>
            <li class="active">Login</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header -->
  <!-- Start Page Header -->
  <div class="header" style="background-color: #2B93D6;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: white;">Login</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
          <div class="col-md-6" style="margin-left: 20%">

            <section>
              <header class="panel-heading">
                Sign in to start your session
              </header>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Phone</label>
                    <div class="col-lg-10">
                      <input type="text" placeholder="(000)000-000-000" class="form-control" ng-model="phone" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn" style="background-color: #2B93D6; color: white;">Sign in</button>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
      </div>
    </div>
  </div>