
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="carousel-inner">
    <!-- Item -->
    <div class="item active animated fadeInRight">
        <img src="images/back2.jpg" alt="" class="img-responsive" />
        <div class="carousel-caption">
            <h2 class="animated fadeInLeftBig">Child of the Universe, Child of Africa</h2>
            <p class="animated fadeInRightBig">Find Your way Back Home! Tell your Story with your Pictures</p>
        </div>
    </div>
</div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
<div class="header" style="background-color: #2B93D6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: white;">Featuring Contest</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Notice Bar -->
<!-- Start Content -->
<div class="main" role="main">
                <div id="content" class="content full">
                    <div class="container posts-featuring">
                        <div class="row">
                            <section>
                                <div class="col-md-8 col-sm-8">
                                <!-- Latest News -->
                                <div class="listing post-listing">
                                    <header class="listing-header">
                                        <a href="#" class="btn btn-default pull-right">More</a>
                                        <h3>Contest</h3>
                                    </header>
                                    <div class="listing-cont">
                                        <ul>
                                            <li class="item post" ng-repeat="contest in contests">
                                                <div class="row">
                                                    <div class="col-md-12"> <a href="#" class="media-box"> <img height="30px" src="login/admin/app/server/uploads/images/{{contest.photo}}" alt="" class="img-thumbnail"> </a></div>
                                                    <div class="col-md-12">
                                                        <div>
                                                            <h2><a href="">{{contest.title}}</a></h2>
                                                            <h3 style="color: red">Price: {{contest.price}}</h3>
                                                            <h5 style="color: dimgrey;">{{contest.details}}</h5>
                                                            <p class="text-warning">Join a contest now and make some real cash. It's simple,
                                                                upload a photo and let people vote for you.Once the
                                                                contest deadline is due, you can emerge as the winner
                                                                if you have a majority vote</p>
                                                            <div class="col-md-12">
                                                                <div class="col-md-6 default">
                                                                    <div class="col-2"><h4>DEADLINE: {{contest.date_ending}}</h4></div>
                                                                    <div class="col-2"><h4>ENTRY: Free</h4></div>
                                                                </div>
                                                                <div class="col-md-6 default">
                                                                    <div class="col-2"><h4>Winner is: Voted</h4></div>
                                                                    <div class="col-2"><h4>Eligibility: <a ng-click="join(contest.idcontest)" href="#join_contest">click</a></h4></div>
                                                                </div>
                                                            </div>
                                                            <p><a ng-click="join(contest.idcontest)" href="#join_contest" class="btn" style="background-color: #F89F21; color: white;">Join contest</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </section>
                <!-- Start Sidebar -->
                <div class="col-md-4 col-sm-4">
                    <div class="widget sidebar-widget">
                        <div class="sidebar-widget-title">
                            <h3>Stay Tuned</h3>
                        </div>
                        <section class="listing-cont">
                            <ul>
                                <li class="item sermon featured-sermon"> <span class="date">Feb 14, 2015</span>
                                    <h4><a href="past_contest_winner.html" style="color: #F89F21;">Watch out this video now!</a></h4>
                                    <div class="featured-sermon-video">
                                        <div class="fb-page" data-href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                                             data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                             data-show-facepile="true">
                                            <blockquote cite="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf"
                                                        class="fb-xfbml-parse-ignore">
                                                <a href="https://www.facebook.com/Tamebec-photo-Contests-1489515304677807/?ref=br_tf">
                                                    Tamebec photo Contests</a></blockquote>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>